<h3>{{ isEditing ? 'Editar producto' : 'Agregar producto' }} </h3>

<div class="imagen" *ngIf="product.image">
  <img [src]="product.image" width="100">
</div>
<input *ngIf="!viewMode" type="file" (change)="onImageSelected($event)" [disabled]="viewMode">



<input type="text" placeholder="Nombre" [(ngModel)]="product.name" [disabled]="viewMode">
<input type="number" placeholder="Precio" [ngModel]="product.price === 0 ? null : product.price"
  (ngModelChange)="product.price = $event ?? 0" [disabled]="viewMode" min="0">
<input type="number" placeholder="Stock" [ngModel]="product.stock === 0 ? null : product.stock"
  (ngModelChange)="product.stock = $event ?? 0" [disabled]="viewMode" min="0">

<select [(ngModel)]="product.category" [disabled]="viewMode">
  <option value="">Selecciona una categoría</option>
  <option *ngFor="let cat of categories" [value]="cat">
    {{ cat }}
  </option>
</select>

<textarea placeholder="Descripción" [(ngModel)]="product.description" [disabled]="viewMode"></textarea>

<div class="actions">
  <button *ngIf="!viewMode" (click)="onSubmit()">Guardar</button>
  <button class="cancel" (click)="onCancel()">Cancelar</button>
</div>