<header class="navbar">
  <div class="logo">
  <span class="logo-glow">GLOW</span><span class="logo-mod">_MOD</span>
</div>

  <div class="actions">
    <div class="cart-icon" (click)="toggleCarrito()">🛒<span class="badge" *ngIf="getCantidadTotal() > 0">{{ getCantidadTotal() }}</span></div>
    <!-- LUPA / FILTROS -->
    <div class="search-box">
      <button id="btn-lupa" (click)="toggleFiltros()">🔍</button>

      <div class="filtros-panel" *ngIf="mostrarFiltros">
        <h4>Filtros</h4>

        <label>
          Categoría
          <select>
            <option>Todos</option>
            <option>Camisetas</option>
            <option>Chaquetas</option>
          </select>
        </label>

        <label>
          Precio máximo
          <input type="range" min="0" max="200">
        </label>

        <label>
          Ordenar por
          <select>
            <option>Popularidad</option>
            <option>Precio</option>
          </select>
        </label>

        <button class="aplicar">Aplicar</button>
      </div>
    </div>
    
    <!-- USUARIO -->
    <div class="user-dropdown">
      <div class="user-icon" (click)="toggleMenuUsuario()">👤</div>

      <div class="dropdown-menu" *ngIf="menuUsuarioAbierto">
        <a routerLink="/user">Administrar cuenta</a>
        <a href="#">Tus pedidos</a>
        <a href="#">Reseñas</a>
        <a href="#">Historial</a>
        <a href="#">Ajustes</a>
        <button class="logout-btn" (click)="logout()">Salir</button>
      </div>
    </div>

  </div>
</header>
<div class="cart-panel" [class.open]="carritoAbierto">

  <h3>Tu carrito
    <span class="vaciar-top" (click)="vaciar()">Vaciar</span>
  </h3>

  <div class="cart-content">

    <div *ngIf="items.length === 0">
      <p>El carrito está vacío</p>
    </div>

    <div class="cart-item" *ngFor="let item of items; let i = index">
  
  <img [src]="item.product.image" />

  <div class="info">
    <p class="name">{{ item.product.name }}</p>

    <span class="price">
      Precio unidad: ${{ item.product.price }}
    </span>

    <p class="subtotal">
      Subtotal: ${{ item.product.price * item.cantidad }}
    </p>

    <div class="cantidad">
      <button (click)="disminuir(item)">-</button>
      <span>{{ item.cantidad }}</span>
      <button 
        (click)="aumentar(item)" 
        [disabled]="item.product.stock === 0">
        +
      </button>
    </div>

    <div class="eliminar" (click)="eliminar(i)">
      Eliminar
    </div>
  </div>

</div>

  </div>

  <!-- FOOTER -->
  <div class="cart-footer">
    <p>
      <span>Total:</span>
      <strong>${{ getTotal() }}</strong>
    </p>

    <div class="acciones">
      <button class="cancelar" (click)="cerrarCarrito()">Cerrar</button>
      <button class="comprar">Comprar</button>
    </div>
  </div>

</div>
<div class="overlay" *ngIf="carritoAbierto" (click)="cerrarCarrito()"></div>