<div class="login-container">

  <div class="login-box">

    <h2>Iniciar Sesión</h2>

    <input type="email" placeholder="Correo electrónico" [(ngModel)]="email">
    <span class="error-text" *ngIf="errors.email">{{ errors.email }}</span>

    <input type="password" placeholder="Contraseña" [(ngModel)]="password">
    <span class="error-text" *ngIf="errors.password">{{ errors.password }}</span>

    <a routerLink="/forgot-password" class="forgot-link">
      ¿Olvidaste tu contraseña?
    </a>

    <button class="primary-btn" (click)="login()">
      Ingresar
    </button>

    <span class="error-msg" *ngIf="errors.general">{{ errors.general }}</span>

    <div class="divider">Continuar con:</div>

    <div class="social-login">
      <button class="google-btn">
        <img src="img/logoGoogle.png" alt="Google">
        Google
      </button>

      <button class="apple-btn">
        <img src="img/logoApple.png" alt="Apple">
        Apple
      </button>

      <button class="facebook-btn">
        <img src="img/logoFacebook.png" alt="Facebook">
        Facebook
      </button>
    </div>

  </div>

</div>