.products-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e293b;
}

.products-table th,
.products-table td {
    padding: 1rem;
    border-bottom: 1px solid #334155;
    text-align: left;
}

.products-table th {
    color: #94a3b8;
}

.products-table tr:hover {
    background-color: #334155;
}

.error-text {
  color: #ef4444;
  font-size: 0.75rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  font-weight: 500;
}

.delete-btn {
    background-color: #ec1f1f;
    color: white;
    border: none;
    padding: 0.4rem 1.0rem;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 15px;
}

.delete-btn:hover {
    background-color: #eb3131;
}

.status-active {
    color: #10b981;
    font-weight: bold;
}

.status-inactive {
    color: #ef4444;
    font-weight: bold;
}


tr[style*="0.5"] {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL */
.modal-content {
    background: #1e293b;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.modal-content input,
.modal-content select {
    padding:12px;
    border:none;
    border-radius:10px;
    background:#0f172a;
    color:white;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.cancel {
    background-color: #ef4444;
    color: white;
}

.user-admin button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-right: 20px;

}