<section class="products">

  <div class="header">
    <h2>Productos</h2>

    <div>
      <div class="actions">
        <button class="add-btn" (click)="openCreate()">Agregar producto</button>
        <button class="deleteSelected-btn" (click)="deleteSelected()">
          Eliminar seleccionados
        </button>
      </div>
    </div>
  </div>

  <table class="products-table">
    <thead>
      <tr>
        <th></th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of products; let i = index">

        <td><input type="checkbox" [(ngModel)]="p.selected"></td>
        <td><img [src]="p.image" width="60" height="60" *ngIf="p.image"></td>
        <td>{{ p.name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.category }}</td>
        <td>
          <button class="update-btn" (click)="openEdit(i)">Editar</button>
          <button class="view-btn" (click)="openView(i)">Ver </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">

      <app-product-form 
      [viewMode]="viewMode"
      [product]="currentProduct" 
      (save)="saveProduct($event)"
      (cancel)="closeModal()">
      </app-product-form>

    </div>
  </div>

</section>