<section class="products">

  <div class="header">
    <h2>Productos</h2>

    <div>
      <div class="actions">
        <button class="add-btn" (click)="openCreate()">Agregar producto</button>
        <button class="deleteSelected-btn" (click)="deleteSelected()">
          Eliminar seleccionados
        </button>
      </div>
    </div>
  </div>

  <table class="products-table">
    <thead>
      <tr>
        <th></th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of products; let i = index">
        <td data-label=""><input type="checkbox" [(ngModel)]="p.selected"></td>
        <td data-label="Imagen"><img [src]="p.image" width="60" height="60" *ngIf="p.image"></td>
        <td data-label="Nombre">{{ p.name }}</td>
        <td data-label="Precio">{{ p.price }}</td>
        <td data-label="Stock">{{ p.stock }}</td>
        <td data-label="Categoría">{{ p.category }}</td>
        <td data-label="Acciones">
          <button class="update-btn" (click)="openEdit(i)">Editar</button>
          <button class="view-btn" (click)="openView(i)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">

      <app-product-form [viewMode]="viewMode" [product]="currentProduct" [isEditing]="editingIndex !== null"
        (save)="saveProduct($event)" (cancel)="closeModal()">

      </app-product-form>

    </div>
  </div>

</section>