.products {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  gap: 10px;
}

.add-btn {
  background: linear-gradient(45deg, #8b5cf6, #06b6d4);
  border: none;
  padding: 8px 28px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  justify-content: left;
}

.add-btn:hover {
  background: linear-gradient(45deg, #8e61f7, #10b4d1);
}

/* TABLA */
.products-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e293b;
}

.products-table th,
.products-table td {
  padding: 1rem;
  border-bottom: 1px solid #334155;
  text-align: left;
}

.products-table th {
  color: #94a3b8;
}

.products-table tr:hover {
  background-color: #334155;
}

/* Botones eliminar-editar */
.update-btn {
  background-color: #44d5ef;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

.update-btn:hover {
  background-color: #35d2ee;
}

.delete-btn {
  background-color: #ec1f1f;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

.delete-btn:hover {
  background-color: #eb3131;
}

.deleteSelected-btn {
  background-color: #ec1f1f;
  border: none;
  padding: 4px 15px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.deleteSelected-btn:hover {
  background: #eb3333;
}

.view-btn {
  background-color: #eb3bd3;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

.view-btn:hover {
  background: #eb1bcf;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Añadimos esto por si el contenido es demasiado grande incluso para el modal */
  overflow-y: hidden;
}

.modal-content {
  background: #1e293b;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  max-width: 95%; 

  /* ESTO ES LO CRÍTICO */
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  /* Forzamos el scroll interno */
  max-height: 85vh; /* Altura máxima relativa a la pantalla */
  overflow-y: auto; /* Habilita el scroll vertical */
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}
.modal-content::-webkit-scrollbar {
    width: 6px; /* Barra más delgada */
}


.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  box-sizing: border-box; 
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background-color: #ef4444;
  color: white;
}
