<div *ngIf="invoice; else noData" class="invoice-container">

  <!-- Header-->
  <div class="invoice-header">
    <div class="brand">
      <h1><span class="glow">GLOW</span>_MOD</h1>
      <p>Factura Electrónica</p>
    </div>

    <div class="meta">
      <p><strong>#{{ invoice.invoiceNumber }}</strong></p>
      <p>{{ invoice.date | date:'medium' }}</p>
    </div>
  </div>

  <!-- CLIENTE -->
  <div class="card">
    <h3>Datos del cliente</h3>
    <p><strong>Nombre:</strong> {{ invoice.customer.name }}</p>
    <p><strong>Email:</strong> {{ invoice.customer.email }}</p>
    <p><strong>Ciudad:</strong> {{ invoice.customer.city }}</p>
    <p><strong>Dirección:</strong> {{ invoice.customer.address }}</p>
    <p><strong>Método:</strong> {{ getMetodoPago() }}</p>
  </div>

  <!-- TABLA -->
  <div class="card">
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cant.</th>
          <th>Precio</th>
          <th>Subtotal</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of invoice.items">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price | currency:'COP' }}</td>
          <td>{{ getSubtotal(item) | currency:'COP' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- total cantidad -->
  <div class="total-box">
    <h2>Total</h2>
    <span>{{ getTotal() | currency:'COP' }}</span>
  </div>

  <!-- Botones -->
  <div class="acciones">
    <button class="volver" (click)="irHome()">← Volver</button>
    <button class="print" (click)="imprimirFactura()">Imprimir</button>
  </div>

</div>

<ng-template #noData>
  <div class="empty">
    <h2>No hay factura disponible</h2>
    <button routerLink="/">Ir a tienda</button>
  </div>
</ng-template>