<div class="cashier-container">
  <h2>Finalizar compra</h2>
  <div *ngIf="showAlert" class="custom-alert" [ngClass]="alertType">
    {{ alertMessage }}
  </div>
  <!-- Datos del cliente -->

  <div class="form">
    <div class="input-group">
      <input 
  [(ngModel)]="customerName"[ngClass]="{'input-error': !customerName || !/^[a-zA-Z\s]+$/.test(customerName)}"placeholder="Nombre completo *"/>

      <small *ngIf="!customerName"> Este campo es obligatorio </small>

      <small *ngIf="customerName && !/^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/.test(customerName)">
        Solo letras y espacios
      </small>
    </div>
    <div class="input-group">
      <input [(ngModel)]="customerEmail" placeholder="Correo electrónico *" />

      <small *ngIf="!customerEmail"> Este campo es obligatorio </small>

      <small *ngIf="customerEmail && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(customerEmail)">
        Correo inválido
      </small>
    </div>
    <div class="input-group">
      <input [(ngModel)]="phone" placeholder="Teléfono *" maxlength="10" />

      <small *ngIf="!phone"> Este campo es obligatorio </small>

      <small *ngIf="phone && !/^\d{10}$/.test(phone)"> Debe tener 10 números </small>
    </div>

    <div class="input-group">
      <input [(ngModel)]="address" placeholder="Dirección *" />

      <small *ngIf="!address"> Este campo es obligatorio </small>

      <small *ngIf="address && !/^[a-zA-Z0-9#\-\.\,\s]+$/.test(address)">
        Solo letras, números y # - , .
      </small>
    </div>
    <div class="input-group">
      <input [(ngModel)]="city" placeholder="Ciudad *" />

      <small *ngIf="!city"> Este campo es obligatorio </small>

      <small *ngIf="city && !/^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/.test(city)"> Solo letras </small>
    </div>
    <input [(ngModel)]="documentId" placeholder="Documento / Cédula" />

    <textarea [(ngModel)]="notes" placeholder="Notas adicionales (opcional)"></textarea>
    <p class="form-info">-->Todos los campos son obligatorios</p>
  </div>

  <!-- Metodo de pago -->
  <div class="payment-method">
    <h4>Método de pago</h4>

    <select [(ngModel)]="paymentMethod" (change)="onPaymentChange()">
      <option value="">Seleccionar</option>
      <option value="card">💳 Tarjeta</option>
      <option value="transfer">🏦 Transferencia</option>
      <option value="paypal">🅿️ PayPal</option>
      <option value="wallet">📱 Nequi / Daviplata</option>
    </select>

    <p class="metodo-seleccionado" *ngIf="paymentMethod">Método: {{ paymentMethod }}</p>

    <!-- Tarjeta -->
    <div *ngIf="paymentMethod === 'card'" class="payment-form">
      <input [(ngModel)]="cardName" placeholder="Nombre en la tarjeta" />
      <input [(ngModel)]="cardNumber" placeholder="Número de tarjeta" maxlength="16" />
      <input [(ngModel)]="expiry" placeholder="MM/AA" />
      <input [(ngModel)]="cvv" placeholder="CVV" maxlength="3" />
    </div>

    <!-- Tranferencia-->
    <div *ngIf="paymentMethod === 'transfer'" class="payment-form">
      <select [(ngModel)]="bank">
        <option value="">Selecciona un banco</option>
        <option *ngFor="let b of banks" [value]="b">{{ b }}</option>
      </select>

      <input [(ngModel)]="reference" placeholder="Referencia" />
    </div>

    <!-- PAYPAL -->
    <div *ngIf="paymentMethod === 'paypal'" class="payment-form">
      <p>Serás redirigido a PayPal</p>
    </div>

    <!-- WALLET -->
    <div *ngIf="paymentMethod === 'wallet'" class="payment-form">
      <input [(ngModel)]="phoneWallet" placeholder="Número de Nequi / Daviplata" maxlength="10" />
    </div>

    <!-- RESUMEN -->
    <div class="resumen">
      <div class="item" *ngFor="let item of items">
        <span>{{ item.product.name }} x {{ item.cantidad }}</span>
        <span>${{ item.product.price * item.cantidad }}</span>
      </div>

      <h3>Total: ${{ getTotal() }}</h3>
    </div>

    <!-- BOTONES -->
    <div class="acciones">
      <button class="back" (click)="cerrar()">Cancelar</button>

      <button class="pagar" (click)="pagar()">
        {{ loading ? 'Procesando pago...' : 'Pagar' }}
      </button>
    </div>
  </div>
</div>
